<!doctype html>
<html lang="en">
<head><title>Colonial Marines Catalog</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</head>
<body>

	<header class="header">
		<div class="header-profiletext">
			<h1 class="header-text">U.S.C.M. Equipment Catalog</h1>
		</div>
		 <!--<button type="loginbutton">Login</button>-->
	</header>

	<main>
		<section class="main-content">
			<hr>
			<div class="content-container">
				<div class="content items">
					<!--This prints out the Category and the Item name-->
					<h2>{{catName.name}}: {{ gunInfo.name }}</h2>
					<br>
					<!--This prints out the gun description from the database-->
					<p> {{ gunInfo.description }} </p>
					<br>
					<br>
					<p>
					<input type="button" onclick="location.href='{{url_for('showCat', categorys_id=gunInfo.categorys_id)}}';" value="Return"/>
				    </p>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<h3>Weyland-Yutani</h3>
	</footer>

</body>
</html>